node_modules
helvetica-255
Brainly-frontend/node_modules
Brainly-frontend/.env
Brainly-frontend/public
Brainly/dist
Brainly/Advance-Brainly.txt
Brainly/*.txt
*.txt
Brainly/node_modules
Brainly/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
